body {
  font-family: "ＭＳ Ｐゴシック";
  position: inherit;
}

div{
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;  
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
h1 {
  font-size: 24px;
  color: white;
  font-weight: lighter;
  text-align: center;
  margin-left: 18%;
  margin-right: 18%;
}